
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1491026736357'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1491026736357#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1491026736357') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1491026736357') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1491026736357#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.konggouwuche:before { content: "\e601";
        color:white ;
        display: block;
        line-height: 40px;
 }

.gouwuche:before { content: "\e64a"; 

}

.shouji:before { content: "\e63c";
         color: white;
        display: block;
        line-height: 75px;
        text-align: center;
        font-size: 40px;
 }

.chongzhi:before { content: "\e704";
        color: white;
        display: block;
        line-height: 75px;
        text-align: center;
        font-size: 30px;
 }

.sdcard:before { content: "\e74f"; 
        color: white;
        display: block;
        line-height: 75px;
        text-align: center;
        font-size: 30px;
}

.yiyuangou:before { content: "\e72c";
        color: white;
        display: block;
        line-height: 75px;
        text-align: center;
        font-size: 40px;
 }



.yijiuhuanxin:before { content: "\e602";
        color: white;
        display: block;
        line-height: 75px;
        text-align: center;
        font-size: 30px;
 }

.libao:before { content: "\e63d";
        color: white;
        display: block;
        line-height: 75px;
        text-align: center;
        font-size: 30px;
 }

